.steam-bar {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
}
.steam-bar__name {
    background: linear-gradient(180deg, #CC208E 0%, #6713D2 100%);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 20px;
}

.steam-bar__identity {
    width: 100%;
    display: flex;
}
.steam-bar__id {
    background: linear-gradient(359.68deg, #000000 0.26%, #1B2025 99.71%);
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    color: var(--xylium-color-pink);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
    font-weight: 500;
    width: 100%;
}
.steam-bar__id-small {
    font-size: 16px;
    color: var(--xylium-color-darkpink);
    font-weight: 600;
}
@media only screen and (max-width: 1300px) {
    .steam-bar {
        width: 100%;
    }
    .steam-bar__id {
        flex-direction: column;
        align-items: flex-start;
    }   
}