.landing {
    width: 100vw;
    height: 100vh;
    background-image: var(--xylium-bg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.landing__content {
    max-width: 70vw;
    width: 70vw;
    padding-top: 30px;    
}