.landing {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.landing__content {
    max-width: 70vw;
    width: 70vw;
    padding-top: 30px; 
    height: calc(100vh - 200px);   
    min-height: 700px;
}

.landing__main {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.landing__description {
    max-width: 500px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
}
.landing__para {
    color: var(--xylium-color-pink);
}
.landing__art{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing__controller {
    min-width: 380px;
    max-width: 600px;
    height: auto;
}

@media only screen and (max-width: 1500px) {
    .landing__content {
        max-width: 80vw;
        width: 80vw;
    }
}

@media only screen and (max-width: 1300px) {
    .landing__content {
        max-width: 90vw;
        width: 90vw;
    }
    .landing__controller {
        max-width: 550px;
    }
}

@media only screen and (max-width: 990px) {
    .landing__main {
        flex-direction: column;
        gap: 40px;
        padding-top: 30px;
        justify-content: unset;
    }
    .landing__description {
        align-items: center;
        text-align: center;
        gap: 40px;
        width: auto;
        padding: 20px;
    }
    .landing__description h1 {
        font-size: 22px;
    }
    .landing__description h2 {
        font-size: 20px;
    }
}