.landing {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.landing__content {
    max-width: 70vw;
    width: 70vw;
    padding-top: 30px; 
    height: calc(100vh - 200px);   
    min-height: 700px;
}

.landing__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing__description {
    max-width: 500px;
    width: 80%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
}
.landing__heading {
    font-size: 26px;
    font-weight: 600;
}
.landing__para {
    color: var(--xylium-color-pink);
    font-size: 24px;
    font-weight: 400;
}
.landing__art{
    max-width: 80vw;
    min-width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing__controller {
    min-width: 320px;
    max-width: 500px;
    height: auto;
}

@media only screen and (max-width: 1500px) {
    .landing__content {
        max-width: 80vw;
        width: 80vw;
    }
}

@media only screen and (max-width: 1300px) {
    .landing__content {
        max-width: 90vw;
        width: 90vw;
    }
    .landing__controller {
        min-width: 200px;
    }
}

@media only screen and (max-width: 990px) {
    .landing__main {
        flex-direction: column;
        gap: 40px;
        padding-top: 30px;
        justify-content: unset;
    }
    .landing__description {
        align-items: center;
        text-align: center;
        gap: 40px;
        width: auto;
        padding: 20px;
    }
    .landing__heading {
        font-size: 22px;
        font-weight: 600;
    }
    .landing__para {
        color: var(--xylium-color-pink);
        font-size: 20px;
        font-weight: 400;
    }
    .landing__art {
        height: unset;
    }
}