.popover {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popover__bg {
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
}

.popover__content {
    width: 35rem;
    z-index: 998;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--gradient-bg, linear-gradient(360deg, #000 0%, #1B2025 100%));
    box-shadow: 0px 0px 20px 0px #FFF;
    padding: 3rem;
    box-sizing: border-box;
    border-radius: 2rem;
}

.popover__label {
    font-size: 1.1em;
    font-weight: 500;
}

.popover__input {
    width: 100%;
    height: 2.5rem;
    padding: 1rem;
    font-size: 1em;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
    
    border-radius: 0.5rem;
    border: none;
}

.popover__complete {
    display: flex;
    gap: 5rem;
}

@media only screen and (max-width: 990px) {
    .popover__complete {
        flex-direction: column;
        gap: 2rem;
    }
}