.navbar {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navbar__logo {
    font-size: 32px;
    font-weight: 500;
}

.navbar__right {
    display: flex;
    gap: 70px;
}
.navbar__link {
    font-weight: 400;
    font-size: 22px;
}
.navbar__link--pink {
    color: var(--xylium-color-pink);
}

.mobile-nav__wrapper {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120vh;
    background-color: black;
}
.mobile-nav {
    display: none;
}
.mobile-nav__center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-nav__open {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 30px;
}
.mobile-nav__logo {
    font-size: 32px;
    text-align: center;
}
.mobile-nav__sidebar {
    height: 120vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    z-index: 999;
    background-color: black;
    padding: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.mobile-nav__options {
    display: flex;
    justify-content: space-between;
}
.mobile-nav__close {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 990px) {
    .navbar {
        display: none;
    }
    .mobile-nav {
        display: unset;
    }
}

