.sign {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 80px;
    box-sizing: border-box;
}

.sign__loading {
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    position: fixed;
    z-index: 999;
}


.sign__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


.sign__info{
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.sign__heading {
    font-size: 28px;
    font-weight: 600;
}
.sign__description {
    color: var(--xylium-color-pink);
    font-size: 24px;
}


.sign__fields {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sign__button {
    position: relative;
}
.sign__field {
    width: 260px;
    max-width: 80vw;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    font-family: 'Jura', sans-serif;
    font-size: 18px;
}
.sign__field-screen {
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 10px;
    width: 260px;
    max-width: 80vw;
    height: 50px;
    background-image: var(--xylium-button);
}


.sign__error {
    width: 70%;
    height: 80px;
    color: var(--xylium-color-darkpink);
    font-size: 20px;
    text-align: center;
}


.sign__submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.sign__submit p{
    max-width: 80%;
    text-align: center;
}
.sign__submit-text {
    font-size: 20px;
    font-weight: 400;
}
.sign__submit-text--pink {
    color: var(--xylium-color-pink);
    cursor: pointer;
}

@media only screen and (max-width: 990px) {
    .sign {
        padding-top: 30px;
    }
    .sign__heading {
        font-size: 26px;
        font-weight: 600;
    }
    .sign__description {
        color: var(--xylium-color-pink);
        font-size: 22px;
    }
}