@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root {
    
    --xylium-bg: linear-gradient(359.68deg, #000000 0.26%, #1B2025 99.71%);

    --xylium-button: linear-gradient(180deg, #CC208E 0%, #6713D2 100%);
    --xylium-profiles: linear-gradient(180deg, #007ADF 0%, #00ECBC 100%);

    --xylium-color-pink: #FF5F9E;
    --xylium-color-darkpink: #B3005E;

    font-family: 'Jura', sans-serif;
    color: white;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}