@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root {
    
    --xylium-bg: linear-gradient(359.68deg, #000000 0.26%, #1B2025 99.71%);

    --xylium-button: linear-gradient(to right, #CC208E 0%, #6713D2 51%, #CC208E 100%);
    --xylium-profiles: linear-gradient(180deg, #007ADF 0%, #00ECBC 100%);

    --xylium-color-pink: #FF5F9E;
    --xylium-color-darkpink: #B3005E;
    --xylium-color-violentpink: #E90064;

    font-family: 'Jura', sans-serif;
    color: white;
}

* {
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
}

html {
    scroll-behavior: smooth;
    background-color: black;
    background-image: var(--xylium-bg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    overscroll-behavior: none;
}

a {
    text-decoration: none;
    color: white;
}