.home {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__content {
    width: 70vw;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
}


.home__topbar {
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-end;
}
.home__logo {
    font-size: 32px;
}
.home__welcome {
    font-size: 22px;
    color: var(--xylium-color-darkpink);
    display: flex;
    align-items: center;
    gap: 15px;
}
.home__signout {
    width: 32px;
    height: 32px;
    color: var(--xylium-color-pink);
}

.home__main {
    width: 100%;
    background: linear-gradient(359.68deg, #000000 0.26%, #1B2025 99.71%);
    border-radius: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.home__type-writer {
    padding-top: 100px;
    box-sizing: border-box;
    max-width: 80%;
    text-align: center;
    min-height: 300px;
    font-weight: 500;
    font-size: 48px;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.265em;   
}
.home__type-writed-text {
    font-weight: 500;
    font-size: 48px;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.245em;
    color: #E90064;
}
.home__type-bg {
    background: linear-gradient(180deg, #CC208E 0%, #6713D2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.home__options{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}
.home__option-cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.home__options-text {
    font-size: 22px;
    max-width: 250px;
    text-align: center;
}


@media only screen and (max-width: 1500px) {
    .home__content {
        width: 80vw;
        max-width: 80vw;
    }
    .home__type-writer {
        padding-top: 50px;
        font-size: 38px;
        line-height: 56px;   
    }
    .home__type-writed-text {
        font-size: 38px;
        line-height: 56px;
    }
}
@media only screen and (max-width: 1300px) {
    .home__content {
        width: 90vw;
        max-width: 90vw;
    }
    .home__type-writer {
        font-size: 28px;
        max-width: 90%;
        line-height: 56px;   
    }
    .home__type-writed-text {
        font-size: 28px;
        line-height: 56px;
    }
    .home__options{
        flex-direction: column;
    }
}