.df-bar {
    width: 90%;
    max-width: 290px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
}
.df-bar:hover {
    box-shadow: 0px 0px 70px 8px #76003E;
}

.df-bar__icon {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.df-bar__friend {
    width: 60%;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.df-bar__title {
    font-size: 20px;
    min-height: 50px;
    width: 100%;
    background-image: var(--xylium-button);
    background-size: 200%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.2s all ease-in-out;
    border-top-right-radius: 8px;
}
.df-bar:hover .df-bar__title {
    background-position: center right;
}
.df-bar__info {
    height: 100%;
    border-bottom-right-radius: 8px;
    background-image: var(--xylium-bg);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    gap: 5px;
    color: var(--xylium-color-pink);
}
.df-bar__i-since {
    color: var(--xylium-color-violentpink);
    font-size: 20px;
}

@media only screen and (max-width: 1300px) {
    .df-bar {
        flex-direction: column;
    }
    .df-bar__icon {
        width: 100%;
        height: 75px;
        object-fit: cover;
    }
    .df-bar__friend {
        width: 100%;
        height: unset;
    }
    .df-bar__title {
        border-top-right-radius: 0px;
    }
    .df-bar__info {
        font-size: 14px;
    }
    .df-bar__i-since {
        font-size: 16px;
    }
    .df-bar__title {
        font-size: 18px;
        min-height: 40px;
    }
}