/* SETTINGS-CARD */

.sng-card {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    box-sizing: border-box;
}
.sng-card__text {
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    box-sizing: border-box;
}
.sng-card__text--top {
    background: var(--xylium-button);
    font-weight: 600;
    font-size: 1.3em;
}
.sng-card__text--mid {
    background-color: black;
    color: var(--xylium-color-violentpink);
    font-size: 1.1em;
}

.sng-card__text--bottom {
    background-color: var(--xylium-color-violentpink);
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sng-card__user {
    font-size: 1em;
    width: 50%;
}
.sng-card__year {
    font-size: 2.5em;
    font-weight: 700;
}

@media only screen and (max-width: 990px) {

    .sng-card__text--top {
        font-size: 1.1em;
    }
    .sng-card__text--mid {
        font-size: 1em;
    }
    
    .sng-card__user {
        font-size: 0.8em;
    }
    .sng-card__year {
        font-size: 1.5em;
    }

}

/* SETTINGS-STATS */

.stat-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.stat-card__stat {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.stat-card__heading {
    font-size: 1.1em;
}
.stat-card__value {
    font-size: 3em;
    color: var(--xylium-color-violentpink);
}


/* SETTINGS-PAGE */

.settings {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings__content {
    width: 70vw;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
}

.settings__main {
    width: 100%;
    background: linear-gradient(359.68deg, #000000 0.26%, #1B2025 99.71%);
    border-radius: 30px;
    box-shadow: 0px 4px 61px -23px #FFFFFF;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px;
    gap: 2rem;
}

.settings__port {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.settings__heading {
    font-weight: 700;
    font-size: 1.4em;
}

.settings__popover {
    position: relative;
    z-index: 997;
}

.settings__port-content {
    box-shadow: 0px 0px 34px -6px black;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    transition: 0.5s all ease-in-out;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.settings__port-content:hover {
    box-shadow: 0px 0px 70px 8px #76003E;
}

@media only screen and (max-width: 990px) {
    
    .settings__content {
        width: 90vw;
        max-width: 90vw;
    }

    .settings__main {
        padding: 2rem;
        flex-direction: column;
    }

}