.xycard {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.xycard__content {
    width: 70%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-top: 50px;
    box-sizing: border-box;
    justify-content: space-between;
    background: linear-gradient(359.68deg, #000000 0.26%, #1B2025 99.71%);
    box-shadow: 0px 4px 38px -17px #FFFFFF;
    border-radius: 40px;
    min-height: 50vh;
}

.xycard__games {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.xycard__top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.xycard__heading {
    font-size: 32px;
}

.xycard__information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.xycard__games-list {
    justify-content: center;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.xycard__recent-game {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.xycard__recent-image {
    height: auto;
    width: 320px;
    overflow: hidden;
    border-radius: 20px;
}
.xycard__hours-put {
    letter-spacing: 0.22em;
    font-size: 20px;
    font-weight: 500;
    color: var(--xylium-color-violentpink);
}


.xycard__diagnosis {
    max-width: 90%;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}
.xycard__dia-intro {
    font-size: 22px;
    color: var(--xylium-color-violentpink);
}
.xycard__dia-timings {
    font-size: 24px;
    letter-spacing: 0.22em;
    color: white;
}
.xycard__dia-intro--large {
    font-size: 22px;
}
.xycard__dia-timings--large {
    font-size: 64px;
}

.xycard__no-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 10px;
}



.xycard__options {
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    gap: 100px;
}

@media only screen and (max-width: 1300px) {
    .xycard__content {
        width: 90%;
    }
}
@media only screen and (max-width: 990px) {
    .xycard__content {
        padding: 50px;
    }
    .xycard__top-info {
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .xycard__information {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .xycard__recent-image {
        width: 280px;
    }
    .xycard__diagnosis {
        max-width: unset;
        text-align: center;
    }
    .xycard__options {
        padding-top: 50px;
        flex-direction: column;
        gap: 50px;
    }

    .xycard__dia-intro--large {
        font-size: 22px;
    }
    .xycard__dia-timings--large {
        font-size: 24px;
    }

}
